<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="15"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/img/favicon-16x16.png">
    <link rel="shortcut icon" type="image/jpg" href="/src/img/favicon.ico"/>
    <link rel="manifest" href="/src/img/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Bozo Coin App</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-left">
            <img src="/src/img/clown.png" style="width: 15%; height: 15%;">
        </a>
        <a class="navbar-brand" href="/">Bozo App</a>
    </nav>
    <div class="container">
        <h1>Scoreboard</h1>
        <div class="panel panel-default">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>                        
                        <th scope="col">Player</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $i, $v := . }}
                    <tr>
                        <th scope="row">{{ $i }}
                            {{ if eq $i 0 }}
                                <i class="fas fa-crown"></i>
                            {{ end }}
                        </th>
                        <td>{{ $v.Name }}</td>
                        <td>{{ $v.Balance }}</td>
                        <td>{{ $v.Date }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm"
                            onclick="window.location.href='/add-coin?id={{ $v.Id }}&balance={{ $v.Balance }}'">
                                <i class="fas fa-plus"></i></button>
                            {{ if gt $v.Balance 1 }}
                            <button type="button" class="btn btn-danger btn-sm" 
                                onclick="window.location.href='/del-coin?id={{ $v.Id }}&balance={{ $v.Balance }}'">
                                    <i class="fas fa-minus"></i></button>
                            {{ end }}
                            <button type="button" class="btn btn-danger btn-sm"
                            onclick="window.location.href='/del-player?id={{ $v.Id }}&balance={{ $v.Balance }}'">
                                <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h5>Add a player</h5>
        <form method="get" action="/add-player">
            <div class="mb-3">
                <label for="player" class="form-label">Player name</label>
                <input type="text" class="form-control" name="player" required placeholder="Enter a player name" id="player">
            </div>
            <button type="submit" class="btn btn-success mb-2">Add</button>
        </form>
    </div>
</html>
